#container{
    margin-top: 5%;
}
ul{
    list-style-type: none;
    
}

#container{
    margin-top: 5%;
    height: auto;
    width: 40%;
    margin-left: 30%;
    padding-bottom: 3%;
   
    background-color:#c7d6f7;
    border: solid 2px rgb(139, 139, 139);
    border-radius: 1%;
    text-align: center;
}

#container2{
    width:80%;
    margin-left: 8%;
}

button{
    margin-left: 3%;
}