
<div id= "container">
    <h2 class="text-center my-5 py-2">AGREGAR RECINTO</h2>
    <div class="col-lg-8 offset-lg-2">
        <div id="container2">
            <div *ngIf="!registro">
                <form [formGroup]="formulario" (ngSubmit)="validar()" novalidate>

                    <!-- nombre -->
                    <input type="text" class="form-control" formControlName="nombre"
                    placeholder="Ingresar nombre">
                    <div *ngIf="formulario.controls['nombre'].invalid && (formulario.controls['nombre'].touched || formulario.controls['nombre'].dirty)" 
                    class="alert alert-danger">
                          <div *ngIf="formulario.controls['nombre'].hasError('required')">Campo es obligatorio</div>
                          <div *ngIf="formulario.controls['nombre'].hasError('minlength') || formulario.controls['nombre'].hasError('maxlength')">Debe contener entre 1 y 25 caracteres</div>
                    </div>

                    <!--Direccion-->
                    <div  id="separar" >
                        <input type="text" class="form-control" formControlName="direccion" id="inputAddress" placeholder="Ingrese direccion">
                        <div *ngIf="formulario.controls['direccion'].invalid && (formulario.controls['direccion'].touched || formulario.controls['direccion'].dirty)" 
                        class="alert alert-danger">
                            <div *ngIf="formulario.controls['direccion'].hasError('required')">Campo es obligatorio</div>
                        </div>
                    </div>
                    
                    <!-- boton login -->
                    <div class="text-center">
                        <button [disabled]="formulario.valid" type="submit" class="btn btn-primary">Registrar</button>
                    </div>
                </form>
            </div>
            <div *ngIf="registro">
                <h1>Datos registrados</h1>
            </div>
            <div class="col-lg-8 offset-lg-2">
                <hr class="my-5">
                <div class="text-center mb-3">
                </div>
                <div class="text-center">
                    <button [routerLink]="['/admin']" routerLinkActive="router-link-active"  class="btn btn-secondary">Volver atrás</button>
                </div>
            </div>

        </div>
    </div>
</div>
