<div class="col-lg-8 offset-lg-2">
    <form [formGroup]="formulario" (ngSubmit)="validar()" novalidate>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <!--correo -->
        <div class="form-group">
            <h3>Email</h3>
            <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fa fa-at"></i>
                </div>
            </div> 
            <input id="email" name="email" placeholder="Ingresa tu email" type="text" class="form-control" formControlName="email" required="required">
            </div>
            <div *ngIf="formulario.controls['email'].invalid && (formulario.controls['email'].touched || formulario.controls['email'].dirty)" class="alert alert-danger">
            <div *ngIf="formulario.controls['email'].hasError('required')">Campo es obligatorio</div>
            <div *ngIf="formulario.controls['email'].hasError('email')">Formato de email incorrecto</div>
            </div>
        </div>

        <!-- password -->
        <div class="form-group">
            <h3>Contraseña</h3>
            <div class="input-group">
                <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fa fa-key"></i>
                </div>
                </div> 
                <input id="contraseña" name="contraseña" placeholder="Ingresa tu contraseña" type="password" class="form-control" formControlName="clave" required="required">
            </div>
            <div *ngIf="formulario.controls['clave'].invalid && (formulario.controls['clave'].touched || formulario.controls['clave'].dirty)" class="alert alert-danger">
                <div *ngIf="formulario.controls['clave'].hasError('required')">Campo es obligatorio</div>
                <div *ngIf="formulario.controls['clave'].hasError('minlength') || formulario.controls['clave'].hasError('maxlength')">La contraseña debe tener como mínimo 6 caracteres</div>
            </div>
        </div>

        <!-- boton login -->
        <div class="text-center">
            <button [disabled]="!formulario.valid" type="submit" class="btn btn-primary">Iniciar Sesión</button>
        </div>
    </form>
</div>

<!-- Modal Error -->
<div class="modal fade" id="modalError" tabindex="-1" role="dialog" aria-labelledby="modalError" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Error</h5>
        <button type="button" class="cerrar" data-dismiss="modal" aria-label="Cerrar" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            Los datos ingresados no corresponden a algún usuario del Sistema<br>
            <br>
            Verifica que los datos sean correctos
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Cerrar</button>
        </div>
    </div>
    </div>
</div>