<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h2 class="navbar-brand ms-3 me-5" >Recintos Deportivos</h2>

    <div class="container-fluid ">
      <button class="navbar-toggler mx-3 my-4 btn-lineas" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon "></span>
      </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a *ngIf="!admin" [routerLink]="['inicio']" [routerLinkActive]="'active'" class="rounded border bg-white px-4 mx-3 nav-link">Inicio</a>

              <a *ngIf="!login" [routerLink]="['login']" [routerLinkActive]="'active'"class="rounded border bg-white px-4 mx-3 nav-link" >Ingresar</a>

              <a *ngIf="!login" [routerLink]="['registro']" [routerLinkActive]="'active'"class="rounded border bg-white px-4 mx-3 nav-link" >Registrarse</a>

              <a *ngIf="login && !admin" [routerLink]="['reservas']" [routerLinkActive]="'active'"class="rounded border bg-white px-4 mx-3 nav-link" >Reservar</a>

              <a *ngIf="login && !admin" [routerLink]="['mis-reservas']" [routerLinkActive]="'active'"class="rounded border bg-white px-4 mx-3 nav-link" >Mis Reservas</a>

              <a *ngIf="login && admin" [routerLink]="['admin']" [routerLinkActive]="'active'"class="rounded border bg-white px-4 mx-3 nav-link" >Administración</a>

              <a *ngIf="login" (click)="logOut()" role="button" [routerLinkActive]="'active'"class="rounded border bg-white px-4 mx-3 nav-link" >Salir</a>
            </div>
        </div>
    </div>
</nav>
