.navbar {
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
    z-index: 1100;
}

.navbar a {
    float: left;
    display: block;
    color: #acacac;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}