<div class="card  text-white">
    <img class="card-img" src="../../../assets/imagenprincipal.png" alt="100%x270" style="height: 290px; width: 100%;">
    <div class="card-img-overlay">
        <h1 class="card-title">RECINTOS DEPORTIVOS</h1>
        <p class="card-text">Servicios que se realizan en el recinto</p>
        <a href="#" class="btn btn-primary">Reservar</a>
    </div>
</div>

<!-- linea divisora-->
<div class="col-lg-8 offset-lg-2">
    <hr class="my-5">
</div>

<!-- reserva de las canchas-->
<h3 class="text-center my-5 py-2">RESERVA AHORA MISMO</h3>
<div class="col offset-lg-2">
    <div class="row">
        <div class="card  text-white" style="width: 28rem;">
            <div class="card border-dark">
                <img class="card-img" src="../../../assets/cancha1.png" alt="100%x270" style="height: 270px; width: 100%;">
                <div class="card-img-overlay">
                    <h1 class="card-title">CANCHA 1</h1>
                    <p class="card-text">Servicios que se realizan en el recinto</p>
                    <p><i class="fa-solid fa-route"></i> Ubicación</p>
                    <a href="#" class="btn btn-primary">Reservar</a>
                </div>
            </div>
        </div>
        <div class="card  text-white" style="width: 28rem;">
            <div class="card border-dark">
                <img class="card-img" src="../../../assets/cancha2.png" alt="100%x270" style="height: 270px; width: 100%;">
                <div class="card-img-overlay">
                    <h1 class="card-title">CANCHA 2</h1>
                    <p class="card-text">Servicios que se realizan en el recinto</p>
                    <p><i class="fa-solid fa-route"></i> Ubicación</p>
                    <a href="#" class="btn btn-primary">Reservar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- linea divisora-->
<div class="col-lg-8 offset-lg-2">
    <hr class="my-5">
</div>

<!-- quienes somos-->
<div class="col-lg-8 offset-lg-2">
    <div class="card text-center">
        <div class="card-header">
        QUIÉNES SOMOS
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <p> Lorem ipsum dolor sit amet. Et itaque sequi ab maxime commodi aut saepe praesentium a quod nemo eos laudantium doloremque qui beatae possimus est maiores accusamus? Quo molestias consequuntur aut dignissimos quia eum nesciunt debitis quo dignissimos ullam.</p>
        </div>
    </div>
</div>

<!-- linea divisora-->
<div class="col-lg-8 offset-lg-2">
    <hr class="my-5">
</div>

<!-- contactanos-->
<div id= "container">
    <div class="col-lg-8 offset-lg-2">
        <div id="container2">
        </div>
    </div>
</div>


