<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item"  >
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                Clientes
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne" >

            <div id="tipoboton_agregar" class="d-grid gap-2 col-6 mx-auto">
                <a id="boton" [routerLink]="['agregarcli']" routerLinkActive="router-link-active"  class="btn btn-outline-secondary" type="button">Agregar nuevo cliente</a>
            </div>

            <div class="container-fluid px-4">
                <h1 class="mt-4">Clientes</h1>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Listado de Clientes
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>RUT</th>
                                    <th>Nombre Completo</th>
                                    <th>Alias</th>
                                    <th>Teléfono</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cliente of clientes">
                                    <td>{{cliente.rut}}</td>
                                    <td>{{cliente.nombre_completo}}</td>
                                    <td>{{cliente.alias_}}</td>
                                    <td>{{cliente.telefono}}</td>
                                    <!-- botón editar -->
                                    <td><button class="btn btn-outline-secondary" type="button">Editar</button></td>

                                    <!-- botón eliminar -->
                                    <td><button class="btn btn-outline-secondary" type="button">Eliminar</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        

    </div>
    <div class="accordion-item"  >
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                Recintos
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo" >
            <div id="tipoboton_agregar" class="d-grid gap-2 col-6 mx-auto">
                <button id="boton" [routerLink]="['agregarr']" routerLinkActive="router-link-active" class="btn btn-outline-secondary" type="button">Agregar nuevo recinto</button>
            </div>

            <div class="container-fluid px-4">
                <h1 class="mt-4">Recintos</h1>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Listado de Recintos
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Nombre Recinto</th>
                                    <th>Dirección</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let recinto of recintos">
                                    <td>{{recinto.nombre}}</td>
                                    <td>{{recinto.direccion}}</td>
                                    <td><button  class="btn btn-outline-secondary" type="button">Editar</button></td>
                                    <td><button  class="btn btn-outline-secondary" type="button">Eliminar</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            Servicios
        </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingThree">
            <div id="tipoboton_agregar" class="d-grid gap-2 col-6 mx-auto">
                <button id="boton" [routerLink]="['agregars']" routerLinkActive="router-link-active" class="btn btn-outline-secondary" type="button">Agregar nuevo servicio</button>
            </div>

        </div>
    </div>
</div>