.accordion {
    width: 80%;
    margin-top: 2%;
    margin-left: 10%;
}

#tipoboton_agregar {
    width: 20%;
    margin-top: 3%;
    margin-bottom: 3%;
}

#tipoboton {
    width: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}

table {
    width: 60%;
    align-items: center;
}

td{
    align-items: center;
}
