<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                Clientes
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div id="tipoboton_agregar" class="d-grid gap-2 col-6 mx-auto">
                <button id="boton" class="btn btn-outline-secondary" type="button">Agregar nuevo cliente</button>
            </div>
            <div id="cliente_info">
                <li *ngFor="let cliente of clientes">
                    <p>{{cliente.nombre}}</p>
                    <p>{{cliente.rut}}</p>
                    <p>{{cliente.email}}</p>
                    <div id="tipoboton" class="d-grid gap-2 col-6 mx-auto">
                        <button id="boton" class="btn btn-outline-secondary" type="button">Eliminar</button>
                        <button id="boton" class="btn btn-outline-secondary" type="button">Editar</button>
                    </div>
                </li>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                Recintos
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
            <div id="tipoboton_agregar" class="d-grid gap-2 col-6 mx-auto">
                <button id="boton" class="btn btn-outline-secondary" type="button">Agregar nuevo recinto</button>
            </div>
            <div id="recinto_info">
                <li *ngFor="let recinto of recintos">
                    <p>{{recinto.nombre}}</p>
                    <p>{{recinto.direccion}}</p>
                    <div id="tipoboton" class="d-grid gap-2 col-6 mx-auto">
                        <button id="boton" class="btn btn-outline-secondary" type="button">Eliminar</button>
                        <button id="boton" class="btn btn-outline-secondary" type="button">Editar</button>
                    </div>
                </li>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            Servicios
        </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingThree">
            <div id="tipoboton_agregar" class="d-grid gap-2 col-6 mx-auto">
                <button id="boton" class="btn btn-outline-secondary" type="button">Agregar nuevo servicio</button>
            </div>
            <div id="servicio_info">
                <li *ngFor="let servicio of servicios">
                    <p>{{servicio.nombre}}</p>
                    <p>{{servicio.duracion}}</p>
                    <p>{{servicio.valor_base}}</p>
                    <div id="tipoboton" class="d-grid gap-2 col-6 mx-auto">
                        <button id="boton" class="btn btn-outline-secondary" type="button">Eliminar</button>
                        <button id="boton" class="btn btn-outline-secondary" type="button">Editar</button>
                    </div>
                </li>
            </div>
        </div>
    </div>
</div>




<div id="salir">
    <div class="me-5 d-none d-lg-block">
        <button id="boton" class="btn btn-secondary btn-lg" type="button">Salir</button>
    </div>
</div>