<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="col-lg-8 offset-lg-2">
    <div id="seleccion_atributos">
        <h4>Selecciona el cliente</h4>
        <mat-form-field appearance="fill">
            <mat-label>Cliente</mat-label>
            <mat-select [(value)]="cliente_seleccionado" (selectionChange)="selectCliente(cliente_seleccionado)">
                <mat-option *ngFor="let cliente of clientes" [value]="cliente">
                    {{cliente.nombre_completo}} - {{cliente.alias_}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <h4>Selecciona el recinto</h4>
        <mat-form-field appearance="fill">
            <mat-label>Recinto</mat-label>
            <mat-select [(value)]="recinto_seleccionado" (selectionChange)="selectRecinto(recinto_seleccionado)">
                <mat-option *ngFor="let recinto of recintos" [value]="recinto">
                    {{recinto.nombre_recinto}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <h4>Selecciona el servicio</h4>
        <mat-form-field appearance="fill">
            <mat-label>Servicio</mat-label>
            <mat-select [(value)]="servicio_seleccionado" (selectionChange)="selectServicio(servicio_seleccionado)">
                <mat-option *ngFor="let servicio of servicios_recinto" [value]="servicio">
                    {{servicio.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <h4>Selecciona el día</h4>
        <mat-form-field appearance="fill">
            <mat-label>Elige una fecha</mat-label>
            <input matInput [matDatepicker]="picker" [min]="minDate" [matDatepickerFilter]="dateFilter" (dateChange)="dateChanged($event)">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <hr>

        <h2>Bloques Disponibles</h2>
    </div>

    <div class="card-body" *ngIf="recinto_seleccionado && servicio_seleccionado && fecha_seleccionada">
        <table class="table table-sm table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Horario</th>
                    <th *ngFor="let servicio of capacidad_bloque; index as i">{{servicio_seleccionado.nombre}} {{i+1}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hora of horario">
                    <td>{{hora}}</td>
                    <td *ngFor="let servicio of capacidad_bloque; index as i">
                        <button *ngIf="!existeReserva(hora, i+1); else boton_ocupado" class="btn btn-success" type="button" data-toggle="modal" data-target="#modalReservar" (click)="modalReservar(hora, i+1)">
                            Disponible
                        </button>
                        <ng-template #boton_ocupado>
                            <button disabled="true" class="btn btn-warning" type="button">
                                Ocupado
                            </button>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-8 offset-lg-2">
        <hr class="my-5">
        <div class="text-center mb-3">
        </div>
        <div class="text-center">
            <button [routerLink]="['/admin']" routerLinkActive="router-link-active"  class="btn btn-secondary">Volver atrás</button>
        </div>
    </div>
</div>

<!-- Modal Reservar -->
<div class="modal fade" id="modalReservar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirmar Reserva</h5>
        <button type="button" class="cerrar" data-dismiss="modal" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body" *ngIf="bloque_seleccionado != null && cliente_seleccionado != null">
            Resumen de la reserva:<br>
            <br>
            <b>Cliente: </b>{{cliente_seleccionado.nombre_completo}} - {{cliente_seleccionado.alias_}}<br>
            <b>Recinto: </b>{{recinto_seleccionado.nombre_recinto}}<br>
            <b>Servicio: </b>{{servicio_seleccionado.nombre}} {{bloque_seleccionado}}<br>
            <b>Fecha: </b>{{fecha_seleccionada | date:'d/M/y'}}<br>
            <b>Duración: </b>{{servicio_seleccionado.duracion / 60}} h<br>
            <b>Hora de inicio: </b>{{hora_inicio_seleccionada}}<br>
            <b>Hora de término: </b>{{hora_termino_seleccionada}}<br>
            <b>Valor: </b><input id="valor" [(ngModel)]="valor" name="valor" placeholder="Ej: 2500" type="text" required="required"><br>
            <br>
            ¿Estás seguro que quieres realizar esta reserva?<br>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="confirmarReserva()">Confirmar</button>
        </div>
    </div>
    </div>
</div>